/*Headings - Start*/
h1, h2, h3, h4 {
    margin: 0;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-weight: 300;
}
h1 {
    letter-spacing: -1px;
    font-size: 24px;
    margin: 10px 0;
}
/*Headings - End*/

/*Body - Start */
#content {
    padding: 10px 14px;
    position: relative;
}
.txt-color-blue {
    color: #57889c!important;
}

.txt-color-blueDark {
    color: #4c4f53!important;
}
/*Body - End */

/*Brief Information - Start*/

.page-title {
    margin: 12px 0 28px;
}

.page-title span {
    font-size: 16px;
    color: #333;
    display: inline-block;
    vertical-align: 1px;
}

#statistics-income{
    display: inline-block;
    width: 89px;
    height: 26px;
    vertical-align: top;
}

#sparks li span {
    color: #636363;
    display: block;
}

.sparks-info span {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    text-transform: none;
}

/*Brief Information - End*/
